node_modules/
mongodb/data/
*.log
dist
static
.DS_Store
.eslintcache
terraform/variable.tf
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate

.circleci
*.log

.history