node_modules/
mongodb/db/
*.log
dist
static
.DS_Store
.eslintcache
packages/db/data/

terraform/variable.tf
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate

.circleci
*.log

.history