.App-Message {
    height: 100px;
    flex: 1;
    overflow: auto;
    .line {
        margin: 15px 20px;
        display: flex;
        // align-items: center;
        .content {
            margin: 0 10px;
            max-width: 60%;
            box-shadow: 0 0px 13px 9px rgba(0, 21, 41, 0.1);
            border-radius: 10px;
            padding: 10px;
        }
        &.reserve {
            justify-content: flex-end;
        }
    }
}