<!DOCTYPE html>
<html>
	<head>
	    <title><%= htmlWebpackPlugin.options.title %></title>
	    <meta charset="utf-8">
	</head>
	<body>
		<script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>
		<ul id="users"></ul>
		<div id="root"></div>
		<ul id="messages"></ul>
    </body>
</html>