<!DOCTYPE html>
<html>
	<head>
	    <title><%= htmlWebpackPlugin.options.title %></title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta charset="utf-8">
	    <html lang="en" manifest="index.manifest">
	    <meta name="keywords" content="node.js, web chat application, 聊天室, 前端开发" />
	    <meta name="description" content="online web chat application">
	    <meta name="author" content="碎碎酱">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>
		<div id="root"></div>
    </body>
</html>