.App-Dashboard {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    border: 1px solid rgba(0, 21, 41, 0.1);
    width: 1024px;
    height: 800px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    .right {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
